.vscode
.vs
doc
doxyfile
build/
*~
samples/bin/*
tests/bin/*
bin/*
include/*~
lib/*.a
obj/*.o
samples/*~
src/*~
en-doc/*
es-doc/*
**.dot
**.svg

CMakeLists.txt.user
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
DartConfiguration.tcl
.cache/
_deps/
out/
